<section class="about">
        <img src="assets/img/dd.png" alt="Logo" class="img-thumbnails" id="dd">
        <div>
            <h2>Conócenos</h2>                 
            <h1>DD Sports</h1>
            <p>Nacimos para elaborar y distribuir productos de calidad a todo el Ecuador.</p>
            <p>Productos elaborados en telas de excelente calidad.</p>
            <button class="btno">Más Información</button>  
            <br>
            <br>
        </div>  
</section>
