 <header>
        <div class="banner">
            <h2 id="fraseTit">La Pasión de Multitudes</h2>
            <h1 id="titulo">¡ Solo Aquí !</h1> 
            {{!-- <button class="btnban">Explorar</button>     --}}
            <button type="button" class="btn btn-outline-light">Explorar</button>                     
        </div>      
</header>
    
<section class="borde"> </section>