<section class="contact">
        
        <div>
            <h2>Contáctanos</h2>                 
            <h1>Dirección:</h1>
            <p>&#128506; Av.Miguel Iturralde-Barrio Bellavista-San Buenavenura-Latacunga</p>            
            <h1>Email:</h1>
            <i class="bi bi-mailbox"></i>
            <p>&#x1f4eb;<a href="mailto:eddiaz98@hotmail.com">eddiaz98@hotmail.com</a> </p>            
            <h1>Teléfono:</h1>
            <p>&#9743; <a href="tel:0983879806">(593)093879806</a></p>       
        </div>    
            
</section>