<section class="product">
        <div>
            <h2>Échale un OJO!!</h2>                 
            <h1 id="t2">Productos</h1>
            <p id="p2">Indumentaria oficial de los equipo de la Liga Pro-Betcris 2021.</p>
            <p id="p2">Camisetas retro de la época de gloria de tu equipo.</p>
            <p id="p2">El mejor calzado para hinchas.</p>
            <button class="btno">Inventario</button>  
        </div>
        
        {{#producto}}
        {{/producto}}
        
</section>